@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 3px solid #FFFFFF;
  background: #FFFFFF;
}

/* Handle on hover */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.leaderboard--background {
  background: url('./assets/leaderboard-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.key--features--section {
  background: url('./assets/key-features-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* overflow: hidden; */
}
.awards--section {
  background: url('./assets/awards.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.footer--background {
  background: url('./assets/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
} 

.contact--background{
  background: url('./assets/contactForm.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}


.reach--background{
  background: url('./assets/contactInformation.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  z-index: 1;
}

.subscription--background{
  background: url('./assets/subscriptionForm.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}
